button, a.btn, input[type="submit"]
    white-space: nowrap
    display: flex
    justify-content: center
    align-items: center
    height: 60/$dfs+rem
    padding: 0 70/$dfs+rem
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important
    font-size: 19/$dfs+rem
    font-weight: 600
    color: $white
    line-height: 50/$dfs+rem
    background: $highlight
    cursor: pointer
    border: none
    border-radius: 30/$dfs+rem
    &.tiny
        height: 50/$dfs+rem
        padding: 0 35/$dfs+rem
        font-size: 16/$dfs+rem
        border-radius: 25/$dfs+rem
    &.sec
        color: $highlight
        background: transparent
        border: 2px solid $highlight
        &:hover
            color: $white
            background: $highlight
    &.negative
        color: $highlight
        background: $white
        &.sec
            color: $white
            background: transparent
            border-color: $white
            &:hover
                color: $highlight
                background: $white
    &:hover, &:focus
        transform: translateY(-1px)
    &:active
        transform: translateY(1px)

.button
    display: flex
    justify-content: center
    align-items: center
    width: 60/$dfs+rem
    height: 60/$dfs+rem
    background: $highlight
    cursor: pointer
    border-radius: 50%
    &.negative
        background: $white
    &:hover, &:focus
        transform: translateY(-1px)
    &:active
        transform: translateY(1px)
