include layouts/_resume.jade
include layouts/_run.jade
include layouts/_nav.jade
include layouts/_show_clipboard.jade

#layout-wrapper
    include layouts/_header.jade
    include layouts/_history.jade
    include layouts/_pro.jade
