section#rate

nav

header
    include icons/_menu.html
    include icons/_clipboard.html
    button.big.negative Clear Clipboard
    section#bar
        h2 History
        .button
            include icons/_arrow_down.html

section#history

section#pro
