//- out: .
//- app/jade
//- app/layouts/_header.jade
//- app/icons/html

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Clipboard
        script(src="Scripts/jquery-3.1.1.min.js")
        link(href="Content/normalize.min.css", rel="stylesheet")
        link(href="css/default.min.css", rel="stylesheet")
    body
        #app-wrapper
            include app/_app.jade
            
        script(src="js/layout.min.js")
        
        script(src="js/api/init.min.js")
        script(src="js/api/track_history.min.js")
        script(src="js/api/clear_clipboard.min.js")
        script(src="js/api/copy_clipboard.min.js")
        script(src="js/api/get_clipboard.min.js")
        script(src="js/api/review.min.js")
        script(src="js/api/storage.min.js")
        script(src="js/api/store.min.js")
        script(src="js/api/version.min.js")
        
        script(src="js/events.min.js")
