//- out: .
//- app/jade
//- app/icons/html

doctype html5
html
    head
        meta(charset="utf-8")
        title My Clipboard
        link(href="css/default.min.css", rel="stylesheet")
        link(href="css/resources/normalize/normalize.min.css", rel="stylesheet")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        #app-wrapper
            include app/_app.jade

        script(src="js/resources/jquery/jquery-3.1.1.min.js")
        script(src="js/main.js")
