//- out: .
//- app/jade
//- app/layouts/_header.jade
//- app/icons/html

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Clipboard
        script(src="Scripts/jquery-3.3.1.min.js")
        link(href="Content/normalize.css", rel="stylesheet")
        link(href="css/default.min.css", rel="stylesheet")
    body
        #app-wrapper
            include app/_app.jade

        script(src="dist/main.js")
