---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    background-color: #fd3365;
    background-image: linear-gradient(120deg, #fd3365, #fd3365);
}

.main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #232433;
}

a {
    color: #fd3365;
}
