header
    #nav-open
        include ../icons/_menu.html
    #reset-history-wrapper
        button#reset-history.tiny.sec.negative Reset History
    .wrapper
        include ../icons/_clipboard.html
        button#clear-clipboard.negative Clear Clipboard
    section#bar
        #up.wrapper.hide
            .button
                include ../icons/_arrow_up.html
            h2 Clear Clipboard
        #down.wrapper
            .button
                include ../icons/_arrow_down.html
            h2 History
