section#history
    #click-to-copy.banner
        .wrapper
            p Click on a snippet to copy
    #copied.banner
        .wrapper
            p Copied
    #more-arrow
        include ../icons/_more_arrow.html
