section#history
    .item
        time 10:34 AM
        p.large SO67JHX908kJHDB
    .item
        time 10:34 AM
        p.large Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    .item
        time 10:34 AM
        p.large SO67JHX908kJHDB
    .item
        time 10:34 AM
        p.large SO67JHX908kJHDB
    .item
        time 10:34 AM
        p.large SO67JHX908kJHDB
    #more-arrow(onClick="openPro();")
        include ../icons/_more_arrow.html
