section#history
    .item#1
        time 10:34 AM
        p.large SO67JHX908kJHDB
    .item#2
        time 10:34 AM
        p.large Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    .item#3
        time 10:34 AM
        p.large SO67JHX908kJHDB
    .item#4
        time 10:34 AM
        p.large SO67JHX908kJHDB
    .item#5
        time 10:34 AM
        p.large SO67JHX908kJHDB
    #more-arrow
        include ../icons/_more_arrow.html
