nav
    .top
        #topbar
            #nav-close
                include ../icons/_close.html
            #version
                p.small Version 1.2.6.13
        #navigation
            h1.clipboard My Clipboard
            h1.pro Pro
    .bottom
        .button.negative
            include ../icons/_arrow_right.html
        h2 Review this App
