nav
    .top
        #topbar
            #nav-close
                include ../icons/_close.html
            #version
        #navigation
            h1.clipboard My Clipboard
            h1.pro Pro
            h1#donate.donate Donate
            h1.show-clipboard-open Show Clipboard
    a.bottom(href="#")
        .button.negative
            include ../icons/_arrow_right.html
        h2 Review this App
