section#pro
    #pro-close
        include ../icons/_close.html
    .wrapper
        .top
            include ../icons/_heart.html
            .wrapper
                h3 Do more with My Clipboard Pro
                p.small Expand your history and improve your workflow
        .middle
            p Keep up to 250 elements in your Clipboard History. My Clipboard Pro is entirely optional and can be purchased for a one-time fee of 1.99$.
        .bottom
            .wrapper
                button#buy-pro Buy
