section#pro
    #pro-close
        include ../icons/_close.html
    .wrapper
        .top
            include ../icons/_heart.html
            .wrapper
                h3 Give yourself Pro
                p.small you get a longer history with My Clipboard Pro
        .middle
            p With My Clipboard Pro you can do more while not loosing your clipboard history. Expand your history now and improve your workflow with My Clipboard Pro.
        .bottom
            .wrapper
                button#buy-pro Buy
