section#run
    .wrapper
        .top
            include ../icons/_history.html
            .wrapper
                h3 Listen for your Clipboard
                p.small ... to track your History
        .middle
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        .bottom
            button#run-background-task Go ahead
