section#run
    .wrapper
        .top
            include ../icons/_history.html
            .wrapper
                h3 Listen for your Clipboard
                p.small ... to track your History
        .middle
            p You can just stay productive, while we ensure that your Clipboard is always with you, everywhere. Keep My Clipboard opened in order to track your history.
        .bottom
            button#run-background-task Go ahead
