section#show-clipboard
    #show-clipboard-close
        include ../icons/_close.html
    .wrapper
        .wrapper
            div#textarea(contenteditable="true", spellcheck="false")
            .bottom
                button#save-to-clipboard Save to Clipboard
