nav
    display: flex
    flex-direction: column
    justify-content: space-between
    position: fixed
    z-index: 3
    top: 0
    left: -100%
    width: 100%
    height: 100vh
    padding: 80/$dfs+rem 120/$dfs+rem 140/$dfs+rem
    background: $highlight
    box-shadow: none
    color: $white !important
    transition: all .35s ease-in-out
    &.show
        left: 0
        box-shadow: 0px 0px 95px 0px rgba(10, 15, 20, 0.25)
    .top
        height: 100%
        #topbar
            display: flex
            justify-content: space-between
            align-items: center
            #nav-close
                cursor: pointer
                &:hover
                    svg
                        line
                            stroke: $dark
        #navigation
            margin: 100/$dfs+rem 0
            h1
                cursor: pointer
                &.donate
                    display: none
                &:hover
                    color: $dark
                &:not(:first-child)
                    margin-top: 65/$dfs+rem
    .bottom
        display: flex
        flex-direction: row-reverse
        align-items: center
        cursor: pointer
        &:hover
            h2
                color: $dark
        &:active
            transform: scale(.99)
            h2
                margin-right: 60/$dfs+rem
                color: $highlight
        &:hover .button, &:focus .button
            background: $dark
            transform: translateY(-1px)
            box-shadow: 0px 7px 95px 0px rgba(10, 15, 20, 0.4)
        &:active .button
            transform: translateY(1px)
            box-shadow: 0px 7px 95px 0px rgba(10, 15, 20, 0.45)
        h2
            padding-right: 60/$dfs+rem
            color: $white


@media screen and (min-width: 1200px)
    nav
        left: -51%
        width: 51%
    #navigation
        margin: 145/$dfs+rem 0
